[Unit]
Description=codelume-minio
After=network.target

[Service]
User=root
Environment="MINIO_ROOT_USER=minioadmin"
Environment="MINIO_ROOT_PASSWORD=minioadmin"
WorkingDirectory=/codelume/codelume-minio
ExecStart= /codelume/codelume-minio/bin/minio server data --certs-dir codelume/codelume-minio/certs --console-address ":9001"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
