[Unit]
Description=codelume-minio
After=network.target

[Service]
User=root
EnvironmentFile=/etc/default/codelume-minio/codelume-minio.env
WorkingDirectory=/root/codelume/codelume-minio
ExecStart= /root/codelume/codelume-minio/bin/minio server data --certs-dir certs --console-address ":9001"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
